/* CSS */

table.dataTable thead th {
    padding: 5px 7px;
    border-bottom: 1px solid #111111;
}

table.dataTable tbody td {
    padding: 0px 10px;
}

tbody {
    background: #f5f5f5;
}

.table-rating,
.table-candidate {
    background: #4d9cca;
    color: #fff;
}

.table-assessor {
    background: #1aa8aa;
    color: #fff;
}

a {
    outline: none;
}

.relative {
    position: relative;
}

.error {
    color: #ff3f3f;
}

.nav-default {
    background: #e4dfdf;
}


/* .box-top {
    margin-bottom: 35px;
} */

.checkbox-common {
    width: 17px;
    height: 17px;
}

.space {
    line-height: 2000%;
}

.space1 {
    line-height: 350px
}

.act {
    width: 10%;
}

.stt {
    width: 10%;
}

.stt1 {
    width: 8%;
}

.th1 {
    width: 22%;
}

.th2 {
    width: 23%;
}

.th3 {
    width: 7%;
}

.th4 {
    width: 15%;
}

.td1 {
    width: 12%;
    height: 10px;
}

.cus {
    width: 14%;
}

.cus1 {
    width: 10%;
}

.th-1 {
    width: 15%;
}

.modal-header {
    background: #337ab7;
    color: #fff;
}

.content-manage-system,
.semester-content-table,
.school-content-table {
    margin-left: 10%;
    margin-right: 20%;
}

.content-table {
    margin-left: 0%;
    margin-right: 0%;
}

.add-btn {
    margin-left: 10%;
    margin-top: 30px;
    z-index: 1;
}

.add-btn-orther {
    z-index: 1;
}

.add-btn1 {
    margin-left: 1%;
    margin-top: 30px;
    z-index: 1;
}

.filter {
    margin-left: 10%;
}

.filter-orther {
    margin-left: 2%;
}

.filter-semester {
    margin-left: 7%;
    padding-left: 9%;
}

.filter-year {
    margin-left: -5%;
}

.label-filter {
    margin-top: 4px;
    font-size: 17px;
}


/*SCHOOL YEAR*/

.table-semester,
.table-school-year {
    color: white;
    background: #337ab7;
}

.table-school-year1 {
    color: white;
    background: #337ab7;
    font-size: 12px;
}

.manage_teaching_time_left {
    background: #d3d4ce;
    min-height: 500px;
}

.manage_teaching_time_right {
    background: #eeebf1;
    min-height: 500px;
}

.add-school-years {
    border-radius: 30px;
    width: 55px;
    height: 55px;
}

.checkbox-remove {
    width: 15px;
    height: 15px;
}

.input-search-custom {
    border-radius: 6px;
}

.custom-input-form {
    width: 50%;
}

.del-one-year {
    margin-left: 18px;
}

.box-remove-all {
    margin-top: -34px;
}

.box-remove-all button {
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}


/*BEGIN TEACH */

.data_row_teach {
    display: inline-flex;
}

.data_value_teach {
    width: 15%;
    margin-left: 2%;
}

.data_value_teach_other {
    width: 15%;
    margin-left: 3%;
}


/*END TEACH*/


/* .btn-remove {   
    margin-top: 20px;
} */


/*END SCHOOL YEAR */


/*SEMESTER*/


/*END SEMESTER */


/* MANAGE SYSTEM */


/*END MANAGE SYSTEM */