/* CSS */

tbody {
    background: #f5f5f5;
}

.table-rating,
.table-candidate {
    background: #4d9cca;
    color: #fff;
}

.table-assessor {
    background: #1aa8aa;
    color: #fff;
}

a {
    outline: none;
}

.relative {
    position: relative;
}

.error {
    color: #ff3f3f;
}


/* .box-top {
    margin-bottom: 35px;
} */

.checkbox-common {
    width: 17px;
    height: 17px;
}

.act,
.stt {
    width: 50px;
}

.cus {
    width: 80px;
}

.modal-header {
    background: #337ab7;
    color: #fff;
}


/*SCHOOL YEAR*/

.school-content-table {
    margin-left: 115px;
    margin-right: 115px;
}

.table-school-year {
    color: white;
    background: #337ab7;
}

.add-year-btn {
    margin-left: 115px;
}

.manage_teaching_time_left {
    background: #d3d4ce;
    min-height: 500px;
}

.manage_teaching_time_right {
    background: #eeebf1;
    min-height: 500px;
}

.add-school-years {
    border-radius: 30px;
    width: 55px;
    height: 55px;
}

.checkbox-remove {
    width: 15px;
    height: 15px;
}

.input-search-custom {
    border-radius: 6px;
    width: 330px;
}

.custom-input-form {
    width: 50%;
}

.del-one-year {
    margin-left: 18px;
}

.box-remove-all button {
    margin-bottom: 20px;
}


/* .btn-remove {   
    margin-top: 20px;
} */


/*END SCHOOL YEAR */


/*SEMESTER*/

.table-semester {
    color: white;
    background: #56aaff;
}

.filter-year {
    display: inline-flex;
}

.label-filter-year {
    margin-top: 4px;
    font-size: 19px;
}

.semester-content-table {
    margin-left: 115px;
    margin-right: 115px;
}

.add-semester-btn button {
    margin-left: 115px;
    width: 130px;
}


/*END SEMESTER */


/* MANAGE SYSTEM */

.content-manage-system {
    margin-left: 115px;
    margin-right: 325px;
}


/*END MANAGE SYSTEM */